body {
  margin: 0;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background: #0f0909;
}

.ball {
  width: 100px;
  height: 100px;
  background: rgb(0, 191, 255);
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(500px);
  }
}
